.create-post {
  display: grid;
  gap: 20px;

  &__field {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid #ccc;
      outline: none;
    }

    &--invalid {
      border-color: red;
    }
  }

  &__fieldError {
      color: red;
      font-size: 0.8rem;
      margin-top: 5px;
  }

  &__button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:disabled {
      background-color: #999;
      cursor: not-allowed;
    }
  }
}
